<div class="timeline container-fluid d-flex flex-column">
  <div class="timeline-container" *ngFor="let timeline of timelineDetails">
    <div class="timeline-container-header">
      <div class="top d-flex justify-content-between">
        <div class="profile d-flex">
          <div class="profile-pic">
            <img src="{{timeline.profilePicPath}}" alt="profile" class="img-fluid rounded-circle">
          </div>
          <div class="profile-details m-2">
            <div class="title">
              <h3>{{timeline.name}}</h3>
            </div>
            <div class="sub-title">
              <span class="me-2">{{timeline.time}}</span>
              <i class="bi bi-globe-americas"></i>
            </div>
          </div>
        </div>
        <div class="feature-tray m-2 d-flex gap-3">
          <div class="menu">
            <i class="bi bi-three-dots"></i>
          </div>
          <div class="hide">
            <i class="bi bi-x-lg"></i>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="about-post">
          <p>{{timeline.aboutPost}}</p>
        </div>
      </div>
    </div>
    <div class="timeline-container-body">
      <div class="media">
        <img src="{{timeline.postMediaPath}}" alt="" class="img-fluid">
      </div>
      <div class="media-reaction">
        <div class="likes-section"></div>
        <div class="commectShare-section"></div>
      </div>
    </div>
    <div class="timeline-container-footer">
      <hr class="divider">
      <ul class="list-items d-flex justify-content-between gap-2">
        <li class="item rounded-pill"><a href=""><i class="bi bi-hand-thumbs-up text-primary"></i></a></li>
        <li class="item rounded-pill"><a href=""><i class="bi bi-chat-left text-primary"></i></a></li>
        <li class="item rounded-pill"><a href=""></a><i class="bi bi-share text-primary"></i></li>
      </ul>
    </div>
  </div>

</div>
