ul {
  padding: 0;
  li {
    list-style: none;
  }
}
i {
  font-size: 25px;
}
.fb {
  padding: 0;
  &-header {
    padding: 12px 10px;
    padding-bottom: 0;
    &-logo {
      img {
        width: 100px;
      }
    }
  }
  .divider {
    height: 4px;
    background: #666769;
    margin: 0;
  }
  &-body {
    background: rgba(118, 122, 125, 0.743);
  }
}
