<div class="fb container-fluid">
  <div class="fb-header">
    <div class="fb-header-branding d-flex justify-content-between">
      <div class="fb-header-logo">
        <img src="assets/png/fb-logo.png" alt="fb-logo">
      </div>
      <div class="fb-feature-tray">
        <ul class="feature-list d-flex gap-3">
          <li class="list-item add-content">
            <a href="">
              <!-- <img src="" alt="plus"> -->
              <i class="bi bi-plus-lg"></i>
            </a>
          </li>
          <li class="list-item search">
            <a href="">
              <!-- <img src="" alt="search"> -->
              <i class="bi bi-search"></i>
            </a>
          </li>
          <li class="list-item message">
            <a href="">
              <!-- <img src="" alt="message"> -->
              <i class="bi bi-messenger"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fb-menu container">
      <ul class="menu-list d-flex justify-content-between">
        <li class="list-item home">
          <a href="" [routerLink]="['/']">
            <i class="bi bi-house-door"></i>
          </a>
        </li>
        <li class="list-item add-friend">
          <a href="" [routerLink]="['/friends']" >
            <i class="bi bi-people"></i>
          </a>
        </li>
        <li class="list-item video-section">
          <a href="" [routerLink]="['/contents']">
            <i class="bi bi-play-btn"></i>
          </a>
        </li>
        <li class="list-item store">
          <a href="" [routerLink]="['/shop']">
            <i class="bi bi-shop"></i>
          </a>
        </li>
        <li class="list-item notification">
          <a href="" [routerLink]="['/notification']">
            <i class="bi bi-bell"></i>
          </a>
        </li>
        <li class="list-item hamburger">
          <a href="" [routerLink]="['/menu']">
            <i class="bi bi-list"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <hr class="divider">
  <div class="fb-post-section d-flex justify-content-between">
    <div class="profile-picture">
      <img class="rounded-circle img-fluid" src="assets/jpg/profile-pic.jpg" alt="profile-pic">
    </div>
    <div class="post-input">
      <input type="text" placeholder="Write something here..." class="rounded-pill">
    </div>
    <div class="media-upload">
      <!-- <img src="" alt=""> -->
      <i class="bi bi-image text-primary"></i>
    </div>
  </div>
  <div class="fb-body">
    <router-outlet></router-outlet>
  </div>
</div>
